In [1]:
from dask import dataframe as dd
from datetime import datetime

In [2]:
def parse_timestamp(timestamp):
    date_format = '%Y-%m-%d %H:%M:%S.%f'
    try:
        timestamp = datetime.strptime(timestamp[:-4], date_format).timestamp()
    except ValueError:
        timestamp = datetime.strptime(timestamp[:-4], date_format[:-3]).timestamp()

    timestamp *= 1000.0
    timestamp = int(timestamp)

    timestamp -= 1648806250315

    return timestamp

In [3]:
def parse_pixel_color(pixel_color):
    hex_to_key = {
        "#000000": 0,
        "#00756F": 1,
        "#009EAA": 2,
        "#00A368": 3,
        "#00CC78": 4,
        "#00CCC0": 5,
        "#2450A4": 6,
        "#3690EA": 7,
        "#493AC1": 8,
        "#515252": 9,
        "#51E9F4": 10,
        "#6A5CFF": 11,
        "#6D001A": 12,
        "#6D482F": 13,
        "#7EED56": 14,
        "#811E9F": 15,
        "#898D90": 16,
        "#94B3FF": 17,
        "#9C6926": 18,
        "#B44AC0": 19,
        "#BE0039": 20,
        "#D4D7D9": 21,
        "#DE107F": 22,
        "#E4ABFF": 23,
        "#FF3881": 24,
        "#FF4500": 25,
        "#FF99AA": 26,
        "#FFA800": 27,
        "#FFB470": 28,
        "#FFD635": 29,
        "#FFF8B8": 30,
        "#FFFFFF": 31,
    }

    return hex_to_key[pixel_color]

In [4]:
ddf = dd.read_csv('..\\data\\raw\\2022_place_canvas_history.csv', converters={"timestamp": parse_timestamp, "pixel_color": parse_pixel_color})
ddf_optimized = ddf.drop('user_id', axis=1).compute()
ddf_optimized.astype({'timestamp': 'uint32'}).dtypes
ddf_optimized.astype({'pixel_color': 'uint8'}).dtypes
ddf_optimized = ddf_optimized.sort_values('timestamp')

ddf_optimized.head(15)

    timestamp  pixel_color coordinate
0   216581262            5   826,1048
1   216583443           17   583,1031
2   216584370           11   1873,558
3   216647226            2   1627,255
4   216665992           17    49,1478
5   216670325           23   408,1863
6   216684583           17   111,1582
7   216690060           11  1334,1840
8   216706853           11  1908,1854
9   216717115            2  1504,1722
10  216742321           17  1850,1809
11  216745729            2   123,1108
12  216754518           17    890,971
13  216755852            5  1982,1827
14  216756915           11   1211,719

In [14]:
ddf_optimized.to_csv('..\\data\\raw\\2022_place_canvas_history_optimized.csv', index=False, single_file=True)

['f:\\Дипломна работа\\code\\data\\raw\\2022_place_canvas_history_optimized.csv']